.sidebar {
  grid-area: sidebar;
  padding-top: 8px;
  background-color: $primary;

  @include mq("tablet") {
    @include absolute($top: $header-height, $bottom: 0);

    transform: translateX(-100%);
  }

  &__title {
    padding: 0 28px 0 24px;

    @include typography($color: rgba($white, 0.5), $size: 12px, $weight: 500, $lh: 48px);
    @include truncate(228px);

    text-transform: uppercase;
  }
}

.nav {
  @include flex($dir: column);

  &__item {
    position: relative;

    @include flex($align: center);

    padding: 12px 21px 12px 26px;

    @include typography($color: $white, $lh: 16px);

    &:hover {
      color: $white;
      background: rgba($white, 0.1);
    }

    &--collapse {
      @include after {
        @include absolute($top: -3px, $right: 21px, $bottom: 0);
        @include arrow($dir: down, $color: $white, $size: 2px);

        margin: auto;
      }
    }

    .label {
      height: 20px;
      margin-right: 20px;
      margin-left: auto;
      padding-right: 7px;
      padding-left: 7px;

      @include typography($color: $white, $size: 12px, $weight: 500, $lh: 20px);

      background-color: $black;
      border-radius: 50px;
    }

    &-icon {
      position: relative;

      @include size(24px);

      margin-right: 18px;
    }
  }
}
