// From white to black
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #777575;
$gray-700: #495057;
$gray-800: #2D2A2A;
$gray-900: #221F1F;
$black:    #000;

// Main palette
$yellow:       #ffa900;
$green:        #00a046;
$grey-blue:    #90a4ae;

// Theme colors
$primary:       $gray-900;
$secondary:     $gray-600;
$success:       $green;
$warning:       $yellow;
