html, body {
  height: 100%;
}

body {
  min-width: $app-min-width;

  @include typography($color-base, font-weight("Regular"), font-size("normal"), $font-family-base, $line-height-base);

  background-color: $body-bg;

  @include mq("phone-large") {
    background-color: $white;
  }
}

.heading {
  &--h1 {
    @include typography($size: 24px, $weight: 400, $lh: 28px);
  }

  &--h3 {
    @include typography($size: 16px, $weight: 500, $lh: 18.75px);
  }
}

p {
  color: $color-base;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.notify {
  @include pseudo(after) {
    $border-width: 4px;
    $size: #{10px + ($border-width * 2)};

    @include absolute($top: -#{$border-width * 2}, $right: -#{$border-width * 2});
    @include size($size);

    background-color: $warning;
    border: $border-width solid gray("800");
    border-radius: 50px;
  }

  &--white {
    &::after {
      border-color: $white;
    }
  }

  &--sm {
    &::after {
      $border-width: 2px;
      $size: #{8px + ($border-width * 2)};

      @include absolute($top: -#{$border-width}, $right: -#{$border-width});
      @include size($size);

      border-width: $border-width;
    }
  }
}

.small-text {
  @include typography($color: $color-secondary, $size: 12px);
}

.sort {
  @include flex($align: center);

  @include after {
    @include triangle($color: $color-secondary, $dir: down, $size: 4px, $size-2: 6px);

    margin-top: 0;
    margin-left: 8px;
  }
}